language: go
codecov: true

#we run the tests on multiple Go versions, but the coverage only on the latest
matrix:
  include:
  - name: "Go 1.0"
    go: "1.0"
  - name: "Go latest"
    go: master
    env: COVERAGE=true

install:
- make

script:
- ./travis.sh

after_success:
- bash <(curl -s https://codecov.io/bash)